[Desktop Entry]
Type=Application
Version=1.0
Name=Install SolydXK
Name[ca]=Instal·la SolydXK
Name[nl]=Installeer SolydXK
Name[pt]=Instalar SolydXK
Name[sr]=Инсталирај СолидИксК
GenericName=Calamares Installer
GenericName[ca]=Instal·lador Calamares
GenericName[nl]=Calamares Installatieprogramma
GenericName[pt]=Instalador Calamares
GenericName[sr]=Каламарес инсталатер
Exec=install-solydxk
Comment=Calamares - Installer for SolydXK Live
Comment[ca]=Instal·lador Calamares per a SolydXK Live
Comment[nl]=Calamares - Installatieprogramma voor SolydXK Live
Comment[pt]=Instalador-Calamares para SolydXK Live
Comment[sr]=Каламарес — инсталатер за СолидИксК
Keywords=calamares;system;install;solydxk;installer
Keywords[ca]=calamares;system;install;solydxk;installer
Keywords[nl]=calamares;systeem;installeren;solydxk;installatieprogramma
Keywords[pt]=calamares;sistema;instalar;solydxk;instalador
Keywords[sr]=calamares;system;install;solydxk;installer;каламарес;инсталатер;систем
Icon=installsolydxk
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
