[Unit]
Description=Install non-free packages in live system

[Service]
Type=simple
ExecStartPre=/usr/sbin/sources-media
ExecStart=/usr/sbin/packages-non-free -l
User=root

[Install]
WantedBy=multi-user.target 
