Source: calamares-settings-solydxk
Section: utils
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@hotmail.com>
Build-Depends: debhelper-compat (= 13), intltool, libglib2.0-bin, qttools5-dev-tools
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: calamares-settings-solydxk
Architecture: all
# For welcomeq, localeq and keyboardq modules add these dependencies:
# qml-module-qtgraphicaleffects, qml-module-qtquick-controls, qml-module-org-kde-kirigami2
Depends: ${misc:Depends},
    calamares,
    cryptsetup,
    keyutils,
    qml-module-qtquick-window2,
    qml-module-qtquick2,
    python3-apt,
    util-linux
Provides: calamares-settings
Description: SolydXK theme and settings for the Calamares Installer
 Calamares is a generic installer framework for Linux distributions.
 By default, it contains a set of boilerplate wording and images. This
 package provides the latest SolydXK artwork as well as scripts that
 supports EFI installations.
