[Desktop Entry]
Type=Application
Name=Calamares Desktop
Exec=calamares-desktop
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
