[Desktop Entry]
Type=Application
Name=Disable Light Locker
Exec=killall light-locker
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
